body {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-between;
}

.header {
    display: flex;
    height: 100px;
    width: auto;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 600;
    color: aliceblue;
    margin: 0;
}

.head-invoice{
    padding-left: 15%;    
}

.main-body {
    display: flex;
    height: 670px;
}

.gen {
    width: 960px;
    background-color: lavenderblush;
}

.invoice {
    display: flex;
    justify-content: space-evenly;
    width: 960px;
    background-color: lavender;
    box-sizing: border-box;
    padding-top: 50px;
}

li {
    list-style: none;
    font-size: 35px;
    padding-top: 30px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    height: fit-content;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1f2937;
    font-size: 20px;
    color: white;
}